@font-face {
  font-family: 'Plus Jakarta Display';
  src: url('fonts/PlusJakartaDisplay-Bold.woff');
  font-weight: bold;
}

@font-face {
  font-family: 'Plus Jakarta Display';
  src: url('fonts/PlusJakartaDisplay-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('fonts/Satoshi-Regular.woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('fonts/Satoshi-Bold.woff');
  font-weight: bold;
}

body {
  font-family: 'Satoshi';
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  background-color: #efede1; /* #FFFBF5; */
}

.top-section {
  padding-top: 36px;
}

h1, h2, h3 {
  font-family: 'Plus Jakarta Display';
  font-weight: 700;
  color: #050038;
}

.logo {
  max-width: 150px;
  border-radius: 12px;
}

h1 {
  padding-top: 128px;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -0.6px;
  max-width: max-content;
}

.intro {
  padding-top: 24px;
}

h2 {
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.5px;
  margin-top: 32px;
  max-width: max-content;
  margin-top: 72px;
  margin-bottom: 24px;
}

li {
  padding-bottom: 16px;
}

a, a:hover, a:visited {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

.chapter {
  padding-bottom: 28px;
}

.teacher-section {
  display:flex;
  padding-top:24px;
}
.teacher-visuals {
  display:flex;
  flex-direction:column;
  padding-right:36px;
  align-items:center;
}
.teacher-pic {
  max-width:200px;
  border-radius:50%;
}
.linkedin-icon {
  width:24px
}
.teacher-visuals p:first-of-type {
  padding-bottom:12px;
}
.teacher-visuals div:first-of-type {
  padding-bottom:18px;
}

.plans {
  display:flex;
  flex-direction:row;
  padding-top:28px;
}

.pricing-plan {
  border-radius: 12px;
  border: 1px black solid;
  padding: 12px 18px;
  margin-right: 28px;
  background-color: white;
  width: 100%;
}

.btn-wrapper {
  padding-top:24px;
  padding-bottom:24px;
}

.price {
  font-weight:bold;
  font-size:38px;
}

.footer {
  font-size: 16px;
  margin-top: 48px;
}

.purple-text-span {
  display: inline-block;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  border-radius: 10px;
  background-color: #a259ff;
  color: #FFF;
}

.red-text-span {
  display: inline-block;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  border-radius: 10px;
  background-color: #f24e1e;
  color: #FFF;
}

.green-text-span {
  display: inline-block;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  border-radius: 10px;
  background-color: #23AD5F;
  color: #FFF;
}

.blue-text-span {
  display: inline-block;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  border-radius: 10px;
  background-color: #4262FF;
  color: #FFF;
}

.yellow-text-span {
  display: inline-block;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  border-radius: 10px;
  background-color: #FECF43;
  color: #FFF;
}

.black-text-span {
  display: inline-block;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  border-radius: 10px;
  background-color: #000000;
  color: #FFF;
}

.teal-text-span {
  display: inline-block;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  border-radius: 10px;
  background-color: #20d9d2;
  color: #FFF;
}

.teal-text-span h3 {
  color: #FFF;
}

.cta {
  width:100%;
  font-size:24px;
}

.seva-form.formkit-form {
  margin: auto !important;
}

.formkit-field {
  padding-top: 32px !important;
}

.scribbles-container {
  position: relative;
}

.scribbles-container .top-section img.right {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  position: absolute;
  left: auto;
  top: 50px;
  right: 0;
  bottom: 0;
  width: 16vw;
  max-width: 250px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
